<div id="dv-user-nav-bar" class="btn-group-menu">
  <button routerLink="/users" [class]="getStyle('/users')" title="Navigate to User Accounts">User Accounts</button>	
  <button routerLink="/users/importexport" [class]="getStyle('/users/importexport')" title="Navigate to Export/Import User Accounts">Export/Import User Accounts</button>
  <button routerLink="/users/sessions" [class]="getStyle('/users/sessions')" title="Navigate to User Sessions">User Sessions</button>
  <button routerLink="/users/auditing" [class]="getStyle('/users/auditing')" title="Navigate to User Auditing">User Auditing</button>
</div>
  