<div id="dvfshdr" class="w3-container">
    <div class="w3-left">
        <img src="assets/images/usda.jpg">
    </div>
    <div class="w3-right">
        <img src="assets/images/usfs.gif">
    </div>
    <div tabindex="0" class="w3-middle w3-center">
        <label>Statement of Information Security</label>
        <br>  
        <label>Responsibilities for</label>
        <br>  
        <label>Forest Service Users of Forest Service Systems</label>
    </div>
</div>
<div id="dvfs" tabindex="0">
		<p>
			Forest Service (FS) employees are granted access to information resources in order to facilitate their FS job responsibilities. FS employees must understand and agree to their Information Security Responsibilities to be allowed access to information systems			
		</p>
      <p>
					I acknowledge that I understand and agree to comply with user responsibilities as stated 
					in Forest Service Manual (FSM) Chapter 6680,<i>Security of Information, Information Systems, 
					and Information Technology.</i> If I do not understand a requirement, I will ask my supervisor 
					for clarification. I understand that I also must comply with U.S. Department of Agriculture 
					(USDA) policies and procedures, and with federal, state, and local laws.
					</p>
					<p>
					I understand that I must complete a computer security awareness course every year, and that, depending on my job, I may be required to take additional role-based information security training.
					</p>
					<p>
					Key elements of FSM Chapter 6680, for which I am responsible, are summarized below. I understand and agree that I must periodically review the chapter for changes:
					</p>
					<p>
					 http://www.fs.fed.us/cgi-bin/Directives/get_dirs/fsm?6600!.
					</p>
					<p>
					I am responsible to: 
					</p>
					
					<ul>
					
					<li>
					<p>
					Acknowledge individual accountability on all FS information systems by clicking OK on the System Use Notification Banner during each logon process. The logon banner reaffirms every user’s acceptance of the terms of use for all FS information systems.
					</p>
					</li>
					
					<li>
					<p>
					Only accessing data for which I have authorized access.
					</p>
					</li>
					
					<li>
					<p>
					Take appropriate measures to protect information from unauthorized access, including seeking out and applying security measures to protect sensitive information stored on my computer, on other electronic devices, or on other media such as CDs, DVDs, magnetic tape, and paper (FSM 6683.04f).
					</p>
					</li>
					
					<li>
					<p>
					Take extra measures to ensure the protection of media in transit or stored on removable media. I must appropriately secure removable media, equipment, and information system output with a lock or otherwise secured container. Media—especially, but not limited to, media containing PII—will be transported outside of a FS facility both physically secured and logically secured (encrypted). Any data leaving FS facilities, including via the internet and E-mail, must be secured with FS approved encryption standard.
					</p>
					</li>

					<li>
					<p>
					Not removing Agency information or data from FS facilities without explicit approval from a supervisor and adherence to encryption requirements.
					</p>
					</li>
					
					<li>
					<p>
					Not store any classified information on my computer.
					</p>
					</li>

					<li>
					<p>
					Encrypt, using agency authorized encryption methods, any government sensitive or confidential information or information subject to the Privacy Act that is stored on any personal electronic device or removable storage medium.
					</p>
					</li>
					
					<li>
					<p>
					Sign off or electronically lock the computer before leaving it unattended (FSM 6683.04f).
					</p>
					</li>
					
					<li>
					<p>
					Comply with physical security standards and procedures specified in section
					6683.15a of FSM Chapter 6680, including taking appropriate measures to protect computer equipment and other electronic devices from theft, damage, or unauthorized use.
					</p>
					</li>
					
					<li>
					<p>
					Keep personal use of telecommunications and information resources and equipment within the limits set by section FSM 6683.15b, Limited Personal Use, and understanding what constitutes inappropriate use as specified in section FSM 6683.15d, Inappropriate Personal Uses.
					</p>
					</li>
					
					<li>
					<p>
					Comply with password standards and procedures specified in section
					FSM 6684.12, and FSM 6684.12, Exhibit 1.
					</p>
					</li>
					
					<li>
					<p>
					Not share, write down, or otherwise transfer my password to an unauthorized user - my password is for my use only. Sharing passwords violates accountability, which requires that every action in an information system be traceable to a single user.
					</p>
					</li>
					
					<li>
					<p>
					Verify that the automatic virus definition file updates to the enterprise antivirus tool installed on my computer(s) (currently, Symantec AntiVirus) occur as scheduled (FSM 6683.04f).
					</p>
					</li>
					
					<li>
					<p>
					Store corporate data within the corporate filing system, where it is backed up routinely (FSM 6683.04f). The FS defines corporate data as information owned, collected, maintained, or generated by the enterprise that has inherent value to and is intended for consistent, shared use within the enterprise (FSM 6680.5).
					</p>
					</li>
					
					<li>
					<p>
					Install only that software, including “freeware” and “shareware,” for which I have obtained authorization. When my privileges are elevated to allow installation of authorized software, I will perform only those activities that are specifically authorized (FSM 6683.04f).
					</p>
					</li>
					
					<li>
					<p>
					Be aware of the proper procedures for the sanitization and disposal of Agency information and data. I am aware that data can be retrieved from media (diskettes, tapes, hard drives, or other memory devices) even after being ‘erased’ or ‘deleted’. To properly sanitize media of residual, I must contact the Helpdesk for assistance in degaussing, overwriting, or otherwise ensuring media is purged prior to disposal.
					</p>
					</li>
					
					<li>
					<p>
					Being aware of retention and disposal requirements of data to which I have access privileges.
					</p>
					</li>
					
					<li>
					<p>
					Ensure that Agency-sensitive information to which I have access is securely maintained, 
					disseminated, and protected from disclosure, release, or extraction to unauthorized individuals 
					or groups. In the instance of information protected by specific laws, such as the 
					<i>Privacy Act or the Health Insurance Privacy and Portability Act </i>(HIPPA), I must be aware of the confidentiality protection procedures required of them in their handling of agency sensitive data as required by law.
					</p>
					</li>

					<li>
					<p>
					Not removing hardware containing Agency-sensitive information from the FS without following appropriate media protection (encryption) or sanitization and disposal (overwriting, degaussing) procedures.
					</p>
					</li>
					
					<li>
					<p>
					Take FS computer equipment from a FS facility only for official business purposes.
					</p>
					</li>
					
					<li>
					<p>
					Only using computer equipment for which I have authorization.
					</p>
					</li>
					
					<li>
					<p>
					Not move or install computer equipment unless I am an authorized technician and the action has been approved by the appropriate IT System Owner or supervisor.
					</p>
					</li>

					<li>
					<p>
					Ensure that if I am working remotely (those who operate portable computer systems in an alternate workplace, e.g., cell phone, PDA (Blackberry), or home computers), I take the same precautions as required of users of stationary systems located at FS facilities to protect the FS systems’ hardware, software, and information.
					</p>
					</li>
					
					<li>
					<p>
					Ensure that if I am working remotely to follow the remote access requirements, which may include two-factor authentication and additional restrictions on portable computer systems to ensure these devices do not compromise the integrity or confidentiality of FS information or data.
					</p>
					</li>

					<li>
					<p>
					Not change the configuration settings or attempt to modify or disable any of the security programs installed on my FS information system, including virus protection software and the password protected screen saver.
					</p>
					</li>
					
					<li>
					<p>
					Ensure all software in use by a user on FS equipment has a valid license on file with purchasing.
					</p>
					</li>
					
					<li>
					<p>
					Promptly report all suspected security incidents to the FS Computer Incident Response Team (CIRT@FSNOTES) and/or my supervisor or other appropriate management official(s) (FSM 6683.04f).
					</p>
					</li>
					
					<li>
					<p>
					Understand the consequences for non-compliant behavior regarding the ROB.
					</p>
					</li>

					<li>
					<p>
					Ensure dial-in remote access is turned off or disconnected when not in use.
					</p>
					</li>
					
					<li>
					<p>
					Comply with defined and proper Internet usage guidelines.
					</p>
					</li>
					
					<li>
					<p>
					Comply with proper usage of search functions within databases.
					</p>
					</li>
					
					</ul>
					
					<p>
					Personally Identifiable Information (PII) is any piece of information that can be used to uniquely identify, contact, locate, or impersonate a single person. If I have access to PII, I must:
					</p>
					
					<br/>
					
					<ul>
					<li>
					<p>
					Never access PII unless absolutely necessary to perform my job.
					</p>
					</li>
					<li>
					<p>
					Never disclose PII to another person within FS unless that individual has verified that he/she is entitled to the information.
					</p>
					
					</li>
					<li>
					<p>
					Never remove PII from FS premises unless it is encrypted using a FS-approved method unless I have a copy of a memorandum waiving the encryption requirement that has been signed by a Business Unit Manager and that applies to this circumstance.
					</p>
					</li>
					<li>
					<p>
					Verify that any time I extract PII from an information system into a computer readable form (e.g., into a spreadsheet or report), that the act of doing so has been properly logged so that the location of the PII can be tracked.
					</p>
					
					</li>
					<li>
					<p>
					Ensure that after having finished using any extracted PII, or after 90 days, whichever comes first, I will erase the PII or receive written permission from my supervisor to retain it for a longer term.
					</p>
					</li>
					<li>
					<p>
					Ensure when erasing PII, that this act is properly logged so that the location of the PII will no longer be tracked.
					</p>
					
					</li>
					<li>
					<p>
					Never access PII from computers or devices outside of FS premises without advance authorization for remote access.
					</p>
					</li>
					<li>
					<p>
					Never attempt remote access without using approved FS access methods, which generally require the use of a SecurID device (called a “token”).
					</p>
					
					</li>
					<li>
					<p>
					Never store my token with or near a laptop or other portable computer that contains PII or is used for PII access.
					</p>
					</li>
					<li>
					<p>
					Never mark my token with any information such as name or password.
					</p>
					
					</li>
					<li>
					<p>
					Promptly report any possible, suspected, or actual loss of PII or any device containing PII to the appropriate point of contact. I must know how to make a report. I must keep a record of the reporting to the point of contact separate from any device, so that the point of contact can make a report if the device is missing.
					</p>
					</li>
					<li>
					<p>
					Report any possible, suspected, or actual loss of PII or any device containing PII within 15 minutes of discovery of the incident, regardless of the time of day.
					</p>
					
					</li>
					<li>
					<p>
					Physically secure all portable devices containing PII. I will lock up laptops using a cable lock when they are not in use, including when they are within my home, vehicle, or hotel room. I will lock small devices into secure containers when they are not in my possession.
					</p>
					</li>
					<li>
					<p>
					Encrypt PII when it is placed onto removable media such as CDs, “thumb drives” or memory sticks and when it is removed from agency premises.
					</p>
					
					</li>
					<li>
					<p>
					Ensure that if PII is lost or stolen, it is reported to the Helpdesk within 24 hours.
					</p>
					</li>
					</ul>
					
					<p>
					I understand that any use of Forest Service communications resources generally is not secure, that it is not private, and that it is not anonymous, and that system managers do employ monitoring tools to detect improper use (FSM 6683.15i, FSM 6684.3). I understand that there is no right to privacy when using government information systems (logon warning banner).
					</p>
  </div>