#dv-recover-account-wrapper {
	border:1px solid darkgray;
}
#dv-recover-account {
	min-width: 500px;
	min-height: 400px;
	border:1px solid darkgray;
	padding: 5px 5px 5px 5px;	
    background-color: white;
	font-name:Helvetica,Arial,sans-serif;
	font-size:12px;	
	display: block;
}
#dv-recover-account-btn-bar {
	min-width: 600px;
	height: 40px;
	padding-top:5px;
	vertical-align:middle;
	border:1px solid gray;
}
#dv-left {
	width:100%;
	float: left;
	padding-top:5px;
}
#dv-right {
	width:60%;
	float: right;
	display: inline-block;	
	padding-top:30px;
}
.dv-mt {
	margin-top: 8px;
}
