<button (click)="openModal('change-pwd-modal')" tabindex="0" title="Click to change password">Change Password</button>

<app-jw-modal id="change-pwd-modal" style="display: none;" class="box-hdr-dv">
    <div style="width: 700px; height: 300px;padding: 0px;">
        <div class="w3-container w3-padding-small w3-theme-d2">
            <div class="w3-left">Change Password</div>
            <div class="w3-right"></div>
        </div>
        <div class="eis">
            <div id="dv-chgpwd-form" class="eis bg-white">
                <form [formGroup]="_chgPwdForm" autocomplete="off" >
                    <table>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td class="frmlbl"><label class="f1" for="ckEnabled">Enabled</label></td>
                                        <td><label class="ast"></label></td>
                                        <td>
                                            <input formControlName="enabled" id="ckEnabled" type="checkbox"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="frmlbl"><label for="txName">User Name</label></td>
                                        <td><label class="ast">*</label></td>
                                        <td>
                                            <input formControlName="loginName" id="txUName" name="txUName" type="text" style="text-transform: lowercase; width:200px;"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="frmlbl" ><label for="txFName">First Name</label></td>
                                        <td><label class="ast">*</label></td>
                                        <td>
                                            <input formControlName="firstName" id="txFName" name="txFName" type="text" style="width:200px;"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="frmlbl"><label for="txtLName">Last Name</label></td>
                                        <td><label class="ast">*</label></td>
                                        <td>
                                            <input formControlName="lastName" id="txLName" name="txLName" type="text" style="width:200px;"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="frmlbl"><label for="txPwd1">Current Password</label></td>
                                        <td><label class="ast">*</label></td>
                                        <td>
                                           <app-text-input formControlName="curpwd" id="txPwd1" name="txPwd1" type="password" 
                                                width="200" maxlength="55"></app-text-input>
                                            <!--
                                           <input formControlName="curpwd" id="txPwd1" name="txPwd1" type="password" style="width:200px;"/>
                                            -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="frmlbl"><label for="txPwd2">New Password</label></td>
                                        <td><label class="ast">*</label></td>
                                        <td>
                                           <app-text-input formControlName="newpwd" id="txPwd2" name="txPwd2" type="password" 
                                                width="200" maxlength="55"></app-text-input>
                                        <!--
                                                <input formControlName="newpwd" id="txPwd2" name="txPwd2" type="password" style="width:200px;"/>
                                        -->
                                    </td>
                                    </tr>
                                    <tr>
                                        <td class="frmlbl"><label for="txCPwd3">Confirm Password</label></td>
                                        <td><label class="ast">*</label></td>
                                        <td>
                                            <app-text-input formControlName="confpwd" id="txPwd3" name="txPwd3" type="password" 
                                                width="200" maxlength="55"></app-text-input>
                                            <!--
                                                <input formControlName="confpwd" id="txCPwd3" name="txCPwd3" type="password" style="width:200px;"/>
                                            -->
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="vtop">
                                <table>
                                    <tr>
                                        <td class="frmlbl"><label for="txUnit">Unit ID</label></td>
                                        <td><label class="ast">*</label></td>
                                        <td>
                                            <input formControlName="unit" id="txUnit" name="txUnit" type="text" style="width:100px;"/>
                                        </td>
                                    </tr>
                                    <!--
                                    <tr>
                                        <td class="frmlbl"><label for="txPdc">Dispatch Center</label></td>
                                        <td><label class="ast">*</label></td>
                                        <td>
                                            <input formControlName="pdc" id="txUPdc" name="txPdc" type="text" style="width:100px;"/>
                                        </td>
                                    </tr>
                                    -->
                                    <tr>
                                        <td class="frmlbl"><label for="txWorkPhone">Work Phone</label></td>
                                        <td><label class="ast"></label></td>
                                        <td>
                                            <input formControlName="workPhone" id="txWorkPhone" name="txWorkPhone" type="text" style="width:200px;"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="frmlbl"><label for="txCellPhone">Cell Phone</label></td>
                                        <td><label class="ast"></label></td>
                                        <td>
                                            <input formControlName="cellPhone" id="txCellPhone" name="txCellPhone" type="text" style="width:200px;"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="frmlbl"><label for="txEmail">Email</label></td>
                                        <td><label class="ast"></label></td>
                                        <td>
                                            <input formControlName="email" id="txEmail" name="txEmail" type="text" style="width:200px;"/>
                                        </td>
                                    </tr>
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <div class="w3-center">
                        <div class="w3-bar">
                            <button (click)="saveData()" title="Click to save new password">Save</button>
                            <button (click)="closeModal('change-pwd-modal');" title="Click to cancel changes">Cancel</button>
                        </div>
                    </div>
                        </form>
            </div>
        </div>
    </div>
</app-jw-modal>

