<div class="">
    <div id="dv-rob-wrapper" class="div-center-screen">
      <div class="w3-container w3-padding-small w3-theme-d2">
        <div class="w3-left" aria-label="Rules of Behavior window" tabindex="0">
          <section>
              Rules of Behavior
           </section>
        </div>
      </div>
      <div id="dv-rob">
        <div id="dv-rob-box" *ngIf="this.usertype === 'NON-ADMIN'">
          <form [formGroup]="robForm" >
              <label tabindex="0">Employee Type: </label>
              <input type="radio" formControlName="robtype" value="FS" aria-label="Forest Service Employee" style="margin-left: 10px;"><label style="margin-left: 4px;">Forest Service</label>
              <input type="radio" formControlName="robtype" value="NONFS" style="margin-left: 20px;" aria-label="Non Forest Service Employee"><label style="margin-left: 4px;">Non-Forest Service</label>
          </form>
          <br>
          <div id="rob-error" *ngIf="this.robForm.get('robtype').invalid && this.usertype === 'NON-ADMIN'" tabindex="0">
              <br>
              <br>
                You must select an Employee type.
          </div>
            <div id="rob-fs" *ngIf="this.robForm.get('robtype').valid && this.usertype === 'NON-ADMIN'">
              <app-rob-fs *ngIf="this.robForm.get('robtype').value === 'FS'"></app-rob-fs>
              <app-rob-non-fs *ngIf="this.robForm.get('robtype').value === 'NONFS'"></app-rob-non-fs>
           </div>
         </div>
         <div id="dv-rob-box2" *ngIf="this.usertype === 'ADMIN'">
            <div id="rob-admin">
                <app-rob-admin></app-rob-admin>
            </div>
        </div>
      </div>
      <div id="dv-rob-btn-bar">
         <div class="w3-center">
          <div class="w3-bar">
            <button class="w3-small w3-padding-small"  (click)="this.accept()">Accept</button>
            <button class="w3-small w3-padding-small"  (click)="this.decline()">Decline</button>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <app-prompt-modal #promptDecline (promptActionEvent)="this.promptActionResult($event)"></app-prompt-modal>  