#dv-rob-history {
    display: block;
	font: 12px Helvetica,Arial,sans-serif;
    border: 1px solid darkgray;
    background-color: white;
    padding: 5px;
    width: 100%;
    height: 85%;
    margin:5px auto;
}
