<div id="app-container" class="container">
  <div id="dv-app-hdr" class="w3-container">
    <div class="w3-left w3-small hdr-lbl1" tabindex="0">
      <label>e-ISuite Site</label>
    </div>
    <div *ngIf="dbname!=''">
      <div class="w3-left w3-small hdr-lbl2" tabindex="0">
        <label>Welcome {{username}}</label>
      </div>
      <div class="w3-left w3-small hdr-lbl2" tabindex="0">
        <label>Active Database: {{dbname}}</label>
      </div>
      <div class="w3-right">
        <div class="w3-right w3-small hdr-lbl3" tabindex="0">
          <label>Help</label>
        </div>
        <div class="w3-right w3-small hdr-lbl3" tabindex="0" tabindex="0" aria-label="logout link">
          <app-logout (logoutEvent)="this.resetActivedb()"></app-logout>
        </div>
        <!--
        <div class="w3-right w3-small hdr-lbl3">
          <a (click)="resetActivedb()" routerLink="/welcome">Logout</a>
        </div>
        -->
      <div class="w3-right w3-small hdr-lbl3">
          <a tabindex="0" routerLink="/home">Home Page</a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-div">
    <router-outlet></router-outlet>
  </div>
</div>
