#dv-incidents-nav-bar {
	border: 1px solid darkgray;
	background-color: white;
    font-size:12px;
    height: 5%;
}
#dv-reports-nav-bar {
	border: 1px solid darkgray;
	background-color: #B7C6CD;
    font-size:12px;
    padding-top: 3px;
	padding-left:10px;
	min-height: 30px;
}
