<div id="dv-auditing-nav-bar" class="btn-group-sub-menu">
  <button (click)="menuSelect('loginhistory')" [class]="getStyle('loginhistory')" title="View Login History">Login History</button>	
  <button (click)="menuSelect('useraccountshistory')" [class]="getStyle('useraccountshistory')" title="View User Accounts History">User Accounts History</button>	
  <button (click)="menuSelect('passwordresethistory')" [class]="getStyle('passwordresethistory')" title="View Password Reset History">Password Reset History</button>	
  <button (click)="menuSelect('robhistory')" [class]="getStyle('robhistory')" title="View Rules of Behavior History">Rules of Behavior History</button>	
  <button (click)="menuSelect('backuphistory')" [class]="getStyle('backuphistory')" title="View Backup History">Backup History</button>	
</div>
  