<div id="dv-top-bar">
	<div id="dv-top-bar-left" class="w3-left">
		<img src="assets/images/action-conf-column.png">
		<img src="assets/images/action-refresh.png" style="padding-top:2px;">
		<img src="assets/images/filter-delete-icon.png" style="padding-top:2px;">
		<img src="assets/images/expand_retract.png" style="padding-top:2px;">
	</div>
	<div id="dv-top-bar-right" class="w3-right">
	</div>
</div>
<div class="split-example">
	<as-split direction="horizontal">
		<as-split-area size="30">
			<div id="dv-fin-exp-grid">
				<app-fin-exp-grid></app-fin-exp-grid>
			</div>
		</as-split-area> 
		<as-split-area size="70">
			<div id="dv-fin-exp-form">
				<app-fin-exp-form></app-fin-exp-form>
			</div>
		</as-split-area>
	</as-split>
</div>
