<ag-grid-angular *ngIf="this.treeViewMode === false"
    style="width: 100%; height: 100%;" 
    class="ag-theme-balham"
    rowSelection="single"
    rowHeight="24"
    enableFilter
    [components]="{checkboxRenderer: checkboxRenderer}"
    [treeData]="false"
    [deltaRowDataMode]="true"
    [defaultColDef]="defaultColDef"
    [floatingFilter]="true"
    [getRowNodeId]="getRowNodeId"
    [gridOptions]="gridOptions"
    [enableColResize]="true"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    (selectionChanged)="onSelectionChanged()"
    >
</ag-grid-angular>
<ag-grid-angular *ngIf="this.treeViewMode === true"
    style="width: 100%; height: 100%;" 
    class="ag-theme-balham"
    rowSelection="single"
    rowHeight="24"
    enableFilter="true"
    [components]="{checkboxRenderer: checkboxRenderer}"
    [floatingFilter]="true"
    [enableColResize]="true"
    [gridOptions]="gridOptions"
    [deltaRowDataMode]="true"
    [getRowNodeId]="getRowNodeId"
    [defaultColDef]="defaultColDef"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [treeData]="true"
    [getDataPath]="getDataPath"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    (selectionChanged)="onSelectionChanged()"
    >
</ag-grid-angular>