.dropdown-viewport {
  background: white;
  height: 200px;
  min-width: 300px;
  border: 1px solid #000;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1000;
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  padding: 10px 5px 10px 5px;
}
.dropdown-code{
  white-space: nowrap;
  padding-right: 10px;
}
.dropdown-desc{
  white-space: nowrap;
}

.acolor-alternate {
  background: #7f7f7f4d;
}

.dropdown-viewport div:hover {
  background-color: #5ba6ec;
}

.input-dropdown-field {
  background-image: url("/assets/images/arrow-dropdown.png");
  text-transform: uppercase;
}

.input-active{
  background-color: #4c91d3;
}
