#dv-cp-wrapper {
	border:1px solid darkgray;
	max-width: 710px;
}
#dv-cp {
	min-width: 500px;
	min-height: 280px;
	border:1px solid darkgray;
	padding: 5px 5px 30px 5px;	
	background-color: whitesmoke;
	font-name:Helvetica,Arial,sans-serif;
	font-size:12px;	
	display: block;
}
#dv-cp-box {
	border:1px solid gray;
}
#dv-cp-btn-bar {
	min-width: 600px;
	height: 40px;
	padding-top:5px;
	vertical-align:middle;
	border:1px solid gray;
}
#dv-cp-left {
	width:250px;
	float: left;
    padding-top:10px;
    height:200px;
}
#dv-cp-right {
	width:350px;
    float: right;
	padding-top:10px;
	border-left:1px solid darkgray;
    height:200px;
}
#dv-cp-right input {
    margin-left:2px;
}
