<div class="">
  <div id="dv-cp-wrapper" class="div-center-screen">
    <div class="w3-container w3-padding-small w3-theme-d2">
      <div class="w3-left" aria-label="Change password window" tabindex="0">
        <section aria-live="assertive">
            Change Password
         </section>
      </div>
    </div>
    <div id="dv-cp">
      <div tabindex="0">
        <label aria-live="assertive">{{ this.desc }}</label>
      </div>
      <br>
      <br>
      <div id="dv-cp-box" tabindex="0">
          <div id="dv-cp-left">
              <label>Password must have:</label>
              <br>
              <label>- at least 12 characters</label>
              <br>
              <label>- at least 1 upper case letter</label>
              <br>
              <label>- at least 1 lower case letter</label>
              <br>
              <label>- at least 1 number</label>
              <br>
              <label>- at least 1 special character !#%&amp;^_*.</label>
          </div>
          <div id="dv-cp-right" class="eis">
              <div id="dv-chgpwd-form" class="eis bg-white">
                <form [formGroup]="_chgPwdForm" autocomplete="off" >
                    <table>
                        <tr>
                            <td class="frmlbl"><label #curpwdLbl class="f1">Current Password:</label></td>
                            <td><label class="ast">*</label></td>
                            <td>
                                <input formControlName="curpwd" #txCurPwd aria-labelledby="curpwdLbl" type="password"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="frmlbl"><label #newpwdLbl class="f1">New Password:</label></td>
                            <td><label class="ast">*</label></td>
                            <td>
                                <app-text-input formControlName="newpwd" id="txNewPwd" name="txNewPwd" type="password" 
                                  width="200" maxlength="55"></app-text-input>
                                  <!--
                                <input formControlName="newpwd" #txNewPwd aria-label="new" type="password"/>
                                  -->
                            </td>
                        </tr>
                        <tr>
                            <td class="frmlbl"><label #confpwdLbl class="f1">Confirm Password:</label></td>
                            <td><label class="ast">*</label></td>
                            <td>
                                <app-text-input formControlName="confpwd" id="txConfPwd" name="txConfPwd" type="password" 
                                  width="200" maxlength="55"></app-text-input>
                                  <!--
                                <input formControlName="confpwd" #txConfPwd aria-label="confirm" type="password"/>
                                  -->
                                </td>
                        </tr>
                    </table> 
                </form>
              </div>
        </div>		
      </div>
    </div>
    <div id="dv-cp-btn-bar">
       <div class="w3-center">
        <div class="w3-bar">
          <button class="w3-small w3-padding-small"  (click)="this.save()" title="Click to save new password">Save</button>
          <button class="w3-small w3-padding-small"  (click)="this.close()" title="Click to cancel changes">Close</button>
        </div>
      </div> 
    </div>
  </div>
</div>
