<section aria-labelledby="hdr-warning">
		<div class="">
			<div class="div-center-screen">
				<div class="w3-container w3-padding-small w3-theme-d2">
				  <div id="dv-warn" class="w3-left" tabindex="0">
						<section aria-live="assertive">
								<h4 id="hdr-warning">Warning</h4>
							</section>
				  </div>
				  <div class="w3-right">
				  </div>
				</div>
				<div id="dv-disclaimer">
					<div id="dv-disclaimer-txt" tabindex="0">
						<section aria-live="assertive">
								<p>{{_disclaimer_text}}</p>
						</section>
					</div>
				</div>
				<div id="dv-disclaimer-btn-bar">
					 <div class="w3-center">
						<div class="w3-bar">
						  <button class="w3-small w3-padding-small" routerLink="/welcome/login" title="Accept the disclaimer">Accept</button>
							<button class="w3-small w3-padding-small" (click)="this.decline()" title="Decline the disclaimer">Decline</button>
							<!--
							<button class="w3-small w3-padding-small" routerLink="/welcome/initial-login">Initial Login</button>
							-->
						</div>
					</div> 
				</div>
			</div>
		</div>
		</section>
		<app-prompt-modal #promptModal (promptActionEvent)="this.promptActionResult($event)"></app-prompt-modal>