<div id="dv-fin-exp-form">
    <div id="dv-inst">
      <div><label class="hdr-lbl">Financial Export Instructions</label></div>
      <div id="dv-inst2">
        <div><label>Step 1. Coordinate with others on the Incident Management Team.</label></div>
        <div><label>Step 2. If you selected an Incident Group, select an incident to use in naming the file.</label></div>
        <div><label>Step 3. Select the Export button.</label></div>
        <div><label>Step 4. Send the Financial Export file to the payment center. </label></div>
     </div>
    </div>
    <div>
      <table>
        <tr>
		  <td class="frmlbl"><label class='f1"'>Incident</label></td>
		  <td><label class="ast">*</label></td>
		  <td>
            <select></select>
		  </td>
        </tr>
        <tr>
		  <td class="frmlbl"><label class='f1"'>Last Export</label></td>
		  <td><label class="ast"></label></td>
		  <td>
            <input>
		  </td>
        </tr>
      </table>
    </div>
	<div class="dv-action-bar">
		<button>Export</button>
		<button>Cancel</button>
	</div>
</div>