<div id="dvadminhdr" class="w3-container">
    <div class="w3-left">
        <img src="assets/images/usda.jpg">
    </div>
    <div class="w3-right">
        <img src="assets/images/usfs.gif">
    </div>
    <div tabindex="0" class="w3-middle w3-center">
        <label>Statement of Information Security</label>
        <br>  
        <label>Responsibilities for Users with</label>
        <br>  
        <label>Privileged Access to Forest Service Systems</label>
        </div>
    <div>
 </div>
  <div id="dvadmin" >
    <!--

      <p>
          I understand that, in addition to this document, I must understand and sign the Statement of Employee Security Responsibilities or the Statement of Information Security Responsibilities for Associate Users of Forest Service Systems.
      </p>
    -->
      <ul>
            <li>
              <p>
          I understand that I have been granted enhanced privileges in order to perform specific functions on information systems that are part of a FS GSS, and that these privileges are to be used only to perform my assigned job responsibilities.
              </p>
            </li>
            <li>
              <p>
          I will not use my privileges to grant myself or any other person unauthorized privileges, or to modify any access accounts, privileges, system configurations, or data in an unauthorized manner.				
              </p>
            </li>
            <li>
              <p>
          I understand that I have a special duty to safeguard FS information resources, and will implement and operate enterprise measures to protect those resources, as instructed by technical information bulletins (TIB), standard operating procedures, or other directives.			
              </p>
            </li>
            <li>
              <p>
          I will exercise maximum care in protecting the enhanced access credentials with which I have been entrusted.
              </p>
            </li>
            <li>
              <p>
          I understand that privileged access to FS information systems may be changed or revoked at the discretion of management, and may be modified as roles and responsibilities change.
              </p>
            </li>
            <li>
              <p>
          I will promptly report all suspected security incidents to the FS Computer Incident Response Team (CIRT@FSNOTES) and/or my supervisor or other appropriate management official(s) (FSM 6683.04f).
              </p>
            </li>
            <li>
              <p>
          I will protect privileged accounts passwords at the highest level demanded by the sensitivity level of the system. (Privileged accounts passwords include the supervisor, root, and administrator or equivalent.)
              </p>
            </li>
            <li>
              <p>
          I will not divulge, to any person outside of the FS, the numbers of Dial-up or Dial-back modem phone.
              </p>
            </li>
            <li>
              <p>
          I will not use my privileged access to develop or run programs that are NOT for work purposes.
              </p>
            </li>
            <li>
              <p>
          I will not download, install, or run programs or utilities that reveal weaknesses in the security of the system, such as password cracking programs, on FS computing systems. Such programs or tools may only be used by approved personnel, and may ONLY be run with explicit authorization and written rules of engagement that include a specific time and chain of authority for stopping the procedure.
              </p>
            </li>
            <li>
              <p>
          I will help train users on the appropriate use and security of the information system.
              </p>
            </li>
            <li>
              <p>
          I will monitor information system activity, including the execution of unscheduled or unauthorized programs.
              </p>
            </li>
            <li>
              <p>
          I will ensure that malicious code protection for servers, both internally and externally accessible, is in place and current.
              </p>
            </li>
            <li>
              <p>
          I understand findings of culpability will result in disciplinary action consistent with the provisions of FSM 6170 and DPM 751, which may include the employees loss of use or limitations on use of equipment, disciplinary or adverse action, criminal penalties, and/or financial liability for the cost of improper use.
              </p>
            </li>
          </ul>
 </div>